body {
	background: #FDFFFB;
	font-family: Verdana;
	color: #450a0a;
	line-height:1.5em;
   /* background: yellow url("images/bbb.jpg") no-repeat;*/
}

html,body{
	height: 100%;
}

.fl_l{
	float:left;
}
.fl_r{
	float:right;
	}
	
.clearfix:after{
	content:"";
	clear:both;
	display:block;
}

.content {
	max-width:960px;
	margin:10px auto;
	padding:0 1%;
	}
	
.centered {
	margin:0 auto;
	}

.centered_text{
	text-align:center;
}

.inline_block{
    display:inline-block;
    padding:4px;
}	

/* --------------------------Base.html: header, footer ---*/
header, footer {
	background: darkolivegreen; /* #556B2F */
	color:ivory;
	padding:12px;
	font-family: 'Quicksand', sans-serif; 
	
}

.spaces{
	height:30px;
}

.spaces3{
	height:90px;
}

header img {
	max-width: 10%;
	padding-right:12px; 
}

h1{	
	font-size:36px;
}

footer{
	font-size:18px; 
	padding-bottom:12px;
	position:absolute;
	width: 100%;
    bottom:0;
    height:60px;

}

.mobilemenu{
	display:none;
}

h2, h3{
	font-family: 'Quicksand', sans-serif;
	color: darkolivegreen;
}

h2{	
	font-size:30px;
	padding:15px 10px 15px 30px;
}

h3{
	font-size:22px;
	padding:0px 10px 20px 30px;
}

.small-txt{
	font-size:0.7em;
}
	
.navbar ul {
	text-align:center;
}

li{
	display:inline-block;
}

.navbar {
	font-size:22px;
}
	
.navbar li a{
	padding:12px;
	text-decoration:none;
	display:block;
	color:ivory;
}	

.navbutton ul{
	margin: 20px 0;
	padding-left:5%;
}

.navbutton li a{
	color:darkolivegreen;
}

.button li a{
	padding:10px;
	text-decoration:none;
	background: darkolivegreen;
	border-radius: 5px;
	color:ivory;
}

.button ul{
	margin: 20px 0;
	padding-left:30px;
}

.navbutton li a:hover{
	background: olivedrab;	
	border-radius: 5px;
}
/*-------------------------- Links ---------- */
a.lighttext:visited {
    color: ivory;
}

a.lighttext:active {
  color: green;
}

a.lighttext:hover {
  color: wheat;
}

a:link {
    color: darkgreen;
}

a:visited {
    color: #224422;
}

a:active {
  color: lime;
}

a:hover {
  color: green;
}

/*-------------------------- Tables ---------- */
table {
	width: 100%;
	margin:20px 0;
}

td, th {
    padding: 8px;
	}
	
td {
    border-bottom: 2px solid #E2F0CB;
	}

th {
	text-align:left;
	font-family:'Quicksand', sans-serif;
	font-size:18px;
	background-color:darkolivegreen;
	color:ivory;
	}
	
.record_details {
	width: 50%;
}
/*-------------------------- addrecipe:Comments Grid card ---------- */
.grid-card {
  border: 2px solid #E2F0CB;
  padding: 8px;
  margin:12px 100px 6px 30px;
  min-height:120px;
}

.side_l{
	min-width: 120px;
	height: 70px;
}

.middle {
	padding-left:134px;
	padding-top:24px;
}

/*-------------------------- Form ---------- */
form {
	width:500px;
	/* margin:10 auto 0; */
	margin: 30px 0 60px;
    padding: 20px;
    background: ivory;
    border: 2px solid #E2F0CB;
    border-radius: 5px;
    text-align: left;
	}

form.accounts {
	margin:30 auto;
}
	
form input, select, .form-input {
    width: 440px;
    vertical-align: bottom;
    font-size: 14px;
	font-family: Verdana;
	color: #450a0a;
	line-height:1.5em;
    padding: 0 20px;
    margin: 10px;
    border: 2px solid #E2F0CB;
	border-radius: 5px;
}
.checkbox_form{
	width: 200px;
}

.checkbox_form table{
	margin: 0;
}

.checkbox_form input {
	width: 150px;
}

.checkbox_form td {
	border: 0;
	vertical-align: middle;
}


form input, select {
	height: 36px;
}

form select {
	width: 484px;
}

#id_paid_amount, #id_picked_up {
  height: 22px;
  width: 60px;
}

form input[type=text]:focus {
  border: 0px;
  background:#F9FFF5;
}

form button{
	font-family: Verdana;
	font-size: 16px;
	margin: 10px 0 0 0;
	padding:10px;
	background: darkolivegreen;
	border-radius: 5px;
	border: 0;
	color:ivory;
}

form.profile_form {
    width:200px;
	margin:0 0 0 24px;
	padding: 10px;
	background: #FDFFFB;
}
	
form.profile_form input {
    border: 0;
	padding: 5px;
	margin:0;
}


form.profile_form button {
    font-size: 12px;
	margin: 0;
	padding:6px;
}

/*   styleproducts -------*/

.card-container {
  width: 96%;
  padding: 2%;
  margin: 0;
  display: grid;
  grid-template-columns: 32% 32% 32%; 
  gap:2%;
}

.card-2 {
  grid-template-columns: 48% 48%; 
  gap: 2%;

}

.grid-card-product {
  padding: 4%;
  border: 2px solid #E2F0CB;
  border-radius: 9px;
  background-color: #FFF;
  display: grid;
  grid-template-columns: auto auto;
}

.grid-row { grid-column:1 / 3; }

.grid-img {
  width: 100%;
  height:270px;
  border-radius: 9px;
  background-color: #CCDDFF;
  overflow:hidden;
  margin:0 0 15px;
}

.group-img{
	height:150px;
}

img {
	height:100%;
    object-fit: cover;
}

.parent_img {
		position:relative;
		z-index:1;
		}
	
	.pop_up{
		position:absolute;
		z-index:2;
		left:0;
		right:0;
		width:100%;
		height:100px;
		top:50%;
		margin-top:-50px;
		background:rgba(245, 255, 225,.6);
		display:none;
		padding-top:30px;
		}
		
	.parent_img:hover .pop_up{
		display:block;
	}
	
.product_img{
	max-height: 270px;
	object-fit: cover;
	border: 2px solid #E2F0CB;
	border-radius:9px;
	max-width:100%;
}

.p-details {
  display: grid;
  grid-template-columns: 32% 46% 18%; 
}
/*-------------------------- Form ---------- */


form.add_cart {
	width:120px;
	padding:10px 20px;
	margin:0;
}
	
form.add_cart select {
    width: 100px;
	padding: 5px;
}

  /*----------------- For mobile phones: ---------*/

@media only screen and (max-width: 620px) {

  .card-container {
    grid-template-columns: 48% 48%; 
    gap: 2%;
  } 
  
  .card-2 {
    grid-template-columns: 100%; 
  }
  
    h2{	
    	font-size:36px;
    	padding:15px 10px 15px 30px;
    }

    h3{
    	font-size:24px;
    	padding:0px 10px 20px 30px;
    }
    .spaces, .spaces3 {
    	height:10px;
    }
    
    header img {
    	max-width:0;
    }
	/* --- hide topmenu and show mibileMenu ---*/
	.topmenu {
		display:none;
	}
	
	.mobilemenu{
	display:block;
	}
	
	.parentmenu {
		position:relative;
	}
	
	.submenu{
		position:absolute;
		z-index:3;
		left:0;
		top:100%;
		display:none;
		}
		
	.navbar ul li ul{
		text-align:left;
	}
	
	.parentmenu:hover .submenu {
		display:block;
	}
	.submenu li a{
		text-decoration:none;
		text-transform:uppercase;
		padding:10px;
		width: 128px;
		display:block;
		background:darkolivegreen;
		border-radius: 3px;
		border: 1px ivory solid;
	}
	
	.submenu li a:hover{
		background:olive;
	}
}

	
