{% extends "base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <h2>Shopping cart</h2>
	<p>File: cart_detail.html</p>
    <table class="cart">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url 'orders:cart_remove' product.id%}">Remove</a></td>
                    <td>${{ item.price }}</td>
                    <td>${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr>
            <td>Total</td>
            <td colspan="3"></td>
            <td>${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    {% if user.is_authenticated %}
        {% if discount > 0 %}
            <p>Your discount is: {{ discount }}%</p>
            <p>Total after discount is: ${{ to_pay }}</p>
        {% endif %}
    <p>     
        {% if cart.get_total_price > 0 %}
          <nav class="navbutton"><ul><li><a class="lighttext" href="{% url 'orders:order_new' %}" class="button">Order</a></li><ul></nav>
        {% else %}
          <p>You don't have items to order.</p>
        {% endif %}
          <p><a href="{% url 'home' %}">Continue shopping</a></p>
    </p>
    {% else %}
    <p>You need to <a href="{% url 'login' %}">login</a> or <a href="{% url 'accounts:signup' %}">signup</a> to order your products.</p>
    {% endif %}
{% endblock %}