{% extends "base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <br>
    <h2>Shopping cart</h2>
    
    <p>     
        <nav class="button"><ul><li><a class="lighttext" href="{% url 'home' %}">Continue shopping</a></li>
        {% if cart.get_total_price > 0 and user.is_authenticated %}
              <li><a class="lighttext" href="#submit_order" class="button">Order</a></li>
              <ul></nav>
        {% elif cart.get_total_price == 0 %}
              <ul></nav>
              <h3>You don't have items to order.</h3>
        {% elif not user.is_authenticated %}
            <ul></nav>
            <h3>You need to <a href="{% url 'login' %}">login</a> or <a href="{% url 'accounts:signup' %}">signup</a> to order your products.</h3>
        {% endif %}
    </p>
    
    <table class="cart">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit price</th>
            <th>Price</th>
            <th class="centered_text">Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.price }}</td>
                    <td>${{ item.total_price }}</td>
                    <td class="centered_text"><a href="{% url 'orders:cart_remove' product.id%}">  
                    
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
  </svg>
  
                    </a></td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr>
            <td>Total</td>
            <td colspan="3"></td>
            <td class="centered_text">${{ cart.get_total_price }}</td>
        </tr>
        {% if discount > 0 %}
        <tr>
            <td>Discount</td>
            <td colspan="3"></td>
            <td>-{{ discount }}%</td>
        </tr>
        <tr>
            <td>Total after discount</td>
            <td colspan="3"></td>
            <td>${{ to_pay }}</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    
     <p>     
         <nav class="button"><ul>
         {% if cart.get_total_price > 0 and user.is_authenticated %}
               <li><a class="lighttext" href="#submit_order" class="button">Order</a></li><ul></nav>
         {% elif cart.get_total_price > 0 and not user.is_authenticated %}
         <h3>You need to <a href="{% url 'login' %}">login</a> or <a href="{% url 'accounts:signup' %}">signup</a> to order your products.</h3>
         {% endif %}
     </p>
    
    <br>
    <h3>{{ msg }}</h3>
{% endblock %}

{% block content-2 %}
{% if user.is_authenticated %}
<h2 id="submit_order">Submit Order</h2>

<div class="order-info">
	<ul>
      {% for item in cart %}
        <li>
        {{ item.quantity }}x {{ item.product.name }}
        <span>${{ item.total_price }}</span>
        </li>
      {% endfor %}
    </ul>
    <p>Total: ${{ cart.get_total_price }}</p>
    <p>Your discount is: {{ discount }}%</p>
    <p>Total after discount is: ${{ to_pay }}</p>
</div>

{% if cart.get_total_price > 0 %}
  <form action="." method="post" class="order-form">
    {% csrf_token %}
	{{ form.as_p }}
    <button type="submit">Submit Order</button>
    {% csrf_token %}
  </form>
  <div class="spaces"></div>
{% else %}
<br>
  <h3>You don't have items to order</h3>
{% endif %}

{% endif %}
{% endblock %}

{% block footer %}
<div style="height:150px;"></div>
<div class="footer">
  <p>Author: </p>
  <p><a class="lighttext" href="https://github.com/KarinaDabbraccio">Karina Dabbraccio</a></p>
</div>
{% endblock %}