{% extends 'base.html' %}

{% block title %}DeletedInventory{% endblock %}

{% block content %}

<nav class="navbutton">
	<ul>
	  <li><a href="{% url 'sales:all_orders' %}">All Orders</a></li>
	  <li><a href="{% url 'inventory:manage_inv' %}">Inventory</a></li>
	</ul>
</nav>
  <h3>Loss: Expired Inventory was Removed from Inventory List</h3>
<table class="table">
    <thead class="thead">
      <tr>
        <th>Product</th>
		<th>Amount</th>
		<th>Cost</th>

      </tr>
    </thead>
    <tbody>
      {% for item in lost_list %}
        <tr>
          <td>{{ item.product.name }}</td>
		  <td>{{ item.amount }}</td>
		  <td> {{ item.cost}}</td>
  
        </tr>
		
      {% endfor %}
    </tbody>
  </table>
<p>Inventory Items deleted: {{ count }} for total amount : ${{ total }}</p>
<div class="spaces"></div>
{% endblock %}