{% extends 'base.html' %}

{% block title %}Inventory - M{% endblock %}


{% block content %}
<br>
<h2>Account: {{ user.username }}</h2>

<nav class="navbutton">
	<ul>
	  <li><a class="lighttext" href="{% url 'sales:all_orders' %}">All Orders</a></li>
	  <li><a class="lighttext" href="{% url 'inventory:delete_expired' %}">Delete Expired</a></li>
	  <li><a class="lighttext" href="{% url 'inventory:create_inv' %}">Create inv</a></li>
	</ul>
</nav>

 <h3>Expired Inventory:</h3>
<table class="table">
    <thead class="thead">
      <tr>
        <th>Product</th>
		<th>Amount</th>
		<th>Cost</th>

      </tr>
    </thead>
    <tbody>
      {% for item in expired %}
        <tr>
          <td>{{ item.product.name }}</td>
		  <td>{{ item.amount }}</td>
		  <td> {{ item.cost}}</td>  
        </tr>		
      {% endfor %}
    </tbody>
  </table>
  
  <h3>Groups Inventory:</h3>
  <table class="table">
    <thead class="thead">
      <tr>
        <th>Product</th>
		<th>Units In-Stock</th>
      </tr>
    </thead>
    <tbody>
      {% for product , amount in groups_inventory_list.items %}
        <tr>
          <td>{{ product }}</td>
		  <td>{{ amount }}</td> 
        </tr>
		
      {% endfor %}
    </tbody>
  </table>
  <p>Total cost of inventory in-stock: {{ total_cost }}</p>
  </br>
  <h3>All Inventory Items:</h3>
<table class="table">
    <thead class="thead">
      <tr>
        <th>Product</th>
		<th>Amount</th>
		<th>Cost</th>

      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.product.name }}</td>
		  <td>{{ item.amount }}</td>
		  <td> {{ item.cost}}</td>  
        </tr>		
      {% endfor %}
    </tbody>
  </table>
  
  <div class="spaces"></div>
{% endblock %}