{% extends 'base.html' %}

{% load static %}

{% block title %}My account{% endblock %}

{% block content %}
<br>
<img src="{{ user.profile.pic.url }}" alt="{{ comment.created_by.username }}">
<div class="inline_block">
    <h2 style="margin-left:20px;">Account: {{ user.username }}</h2><br>
    <form class="profile_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</div>
<div class="inline_block" style="vertical-align:top;margin:60px 0 0 10px;">
    <p>{{ message }}<p>
    <p>TOTAL SPENT: {{ total }}<p>
    
    <nav class="navbutton">
    	<ul>
    	  <li><a href="{% url 'accounts:password_change' %}">Change password</a></li>
    	  <br>
    	  <li style="margin-top:5px;"><a href="{% url 'accounts:update_my_account' %}">Update Info</a></li>
    	</ul>
    </nav>
</div>

<br>
<h3>My Orders:</h3>
<table>
    <thead class="thead">
      <tr>
		<th>Created at</th>
		<th>Items</th>
        <th class="p-desktop">Amount</th>
        <th>Paid</th>
        <th>Location</th>
        <th>Picked Up</th>
      </tr>
    </thead>
    {% if orders %}
    <tbody>   
      {% for order in orders %}
        <tr>
		  <td>{{ order.date_ordered | date:"Y-m-d" }}</td>
		  <td class="small-txt"> {% for p in order.get_ordered_products %}
                        				{{ p.product }} - {{ p.quantity }} <br>    
                    			  {% endfor %}	
		  </td>
          <td class="p-desktop">${{ order.get_total }}</td>
          <td>${{ order.paid_amount }}</td>
          <td>{{ order.pickup_location }}</td>
          <td class="centered_text">{% if order.picked_up %} &#10004 {% else %} &#10006 {%endif%}</td>
        </tr>
      {% endfor %}
    </tbody>
    {% else %}
    <p>You haven't ordered anything yet &#127850</p>
    {% endif %}
  </table>
  
  {% if orders.has_other_pages %}
  <ul class="pagination">
    {% if orders.has_previous %}
      <li><a href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in orders.paginator.page_range %}
      {% if orders.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if orders.has_next %}
      <li><a href="?page={{ orders.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}  

{% endblock %}

{% block footer %}
<div style="height:100px;"></div>
<div class="footer">
  <p>Author: </p>
  <p><a class="lighttext" href="https://github.com/KarinaDabbraccio">Karina Dabbraccio</a></p>
</div>
{% endblock %}