{% extends 'base.html' %}

{% block title %}
  {% if validlink %}
    Change password for {{ form.user.username }}
  {% else %}
    Reset your password
  {% endif %}
{% endblock %}

{% block content %}

    {% if validlink %}
		<br>
        <h2 class="centered_text">Change password for @{{ form.user.username }}</h2>
        <form method="post" novalidate class="centered">
            {% csrf_token %}
            {{ form.as_p }}
            <p class="centered_text"><button type="submit">Change password</button></p>
        </form>
    {% else %}
		<br>
        <h2 class="centered_text">Reset your password</h2>
		<br>
        <p class="centered_text">Password reset link is invalid.</p>
		<p class="centered_text">Please try again.</p>
		<br>
        <p class="centered_text"><a href="{% url 'accounts:password_reset' %}" >Request a new password reset link</a></p>
    {% endif %}
        
{% endblock %}
