{% extends 'base.html' %}

{% block title %}Sales - all orders{% endblock %}


{% block content %}

<nav class="navbutton">
	<ul>
	  <li><a href="{% url 'inventory:manage_inv' %}">Inventory</a></li>
	</ul>
</nav>

<h3>Ordered Items Summary</h3>

<nav class="button">
    <ul>
        <li><a class="lighttext" id="btn-expand1" onclick="expandtable(2)">Show table</a></li>
    <ul>
</nav>

<div id="hide-it" style="display:none">

<table class="table">
    <thead class="thead">
      <tr>
        <th>Product</th>
		<th>Group</th>
		<th>Units</th>
      </tr>
    </thead>
    <tbody>
      {% for k ,v in ordered_items_list.items %}
        <tr>
          <td>{{ k.name }}</td>
		  <td>{{ k.group }}</td>
		  <td>{{ v }}</td>

        </tr>
      {% endfor %}
    </tbody>
</table>

</div>

<div id="container" style="width: 80%;">
    <canvas id="pie-chart"></canvas>
</div>

<br>
<h3>All Orders:</h3>
<table class="table">
    <thead class="thead">
      <tr>
        <th>ID</th>

		<th>Date Ordered</th>
		<th>Items</th>
		<th>Init Price</th>
        <th>Received amount</th>
		<th>Total cost</th>
		<th>Delivered</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.id }}</td>
		  <td><a href="{% url 'sales:order_details' order.id %}">{{ order.date_ordered|date }}</a></td>
		  <td class="small-txt"> {% for p in order.get_ordered_products %}
				{{ p.product }} - {{ p.quantity }} ,    
			  {% endfor %}	
		  </td>
		  <td>{{ order.get_total }}</td>
          <td>{{ order.paid_amount }}</td>
		  <td>{{ order.inventory_total_cost }}</td>
		  <td>{% if order.picked_up %} + {% else %} NO {%endif%}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% if orders.has_other_pages %}
  <ul class="pagination">
    {% if orders.has_previous %}
      <li><a href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in orders.paginator.page_range %}
      {% if orders.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if orders.has_next %}
      <li><a href="?page={{ orders.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}
  
<div class="spaces3"></div>
{% endblock %}

{% block scripts %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

   var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#035E3E', '#5C4671', '#5B5E03', '#5E0333', '#32BABA', '#035E56',
            '#5E0320', '#03565E', '#46714D', '#5E0333', '#03145E', '#80BA32',
          ],
          label: 'Sales'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
    
    function expandtable(){
        var td = document.getElementById('hide-it');
        if (td.style.display == 'block'){
            td.style.display = 'none';
        }else{
            td.style.display = 'block';
        }
    }
    
    const btn = document.getElementById("btn-expand");

    btn.addEventListener("click", ()=>{

        if(btn.value == "Hide"){
            btn.value = "Show table";
        } else {
             btn.value = "Hide";
        }
    })

  </script>

{% endblock %}