{% extends 'base.html' %}

{% block title %}Sales - all orders{% endblock %}


{% block content %}
<br>
<h2>Account: {{ user.username }}</h2>

<nav class="navbutton">
	<ul>
	  <li><a class="lighttext" href="{% url 'sales:all_orders' %}">All Orders</a></li>
	  <li><a class="lighttext" href="{% url 'inventory:manage_inv' %}">Inventory</a></li>
	</ul>
</nav>
<h3>All Orders:</h3>
<table class="table">
    <thead class="thead">
      <tr>
        <th>ID</th>
		<th>Created at</th>
		<th>Items</th>
        <th>Amount (income), $</th>
		<th>Total inventory cost, $</th>
        <th>Paid</th>
		<th>Shipped</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.id }}</td>
		  <td><a href="{% url 'sales:order_details' order.id %}">{{ order.created }}</a></td>
		  <td class="small-txt"> {% for p in order.get_ordered_products %}
				{{ p.product }} - {{ p.quantity }} ,    
			  {% endfor %}	
		  </td>
          <td>{{ order.get_total }}</td>
		  <td>{{ order.inventory_total_cost }}</td>
          <td class="centered_text">{% if order.paid %} + {% else %} NO {%endif%}</td>
		  <td class="centered_text">{% if order.shipped %} + {% else %} NO {%endif%}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <h3>Ordered Items sum:</h3>
<table class="table">
    <thead class="thead">
      <tr>
        <th>Product</th>
		<th>Group</th>
		<th>Units</th>
      </tr>
    </thead>
    <tbody>
      {% for k ,v in ordered_items_list.items %}
        <tr>
          <td>{{ k.name }}</td>
		  <td>{{ k.group }}</td>
		  <td>{{ v }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
  
<div class="spaces"></div>
{% endblock %}