<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'addrecipe/stylesheet.css' %}">
	 <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <!-- <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script> -->
    <title>{% block title %}RECIPES{% endblock %}</title>
  </head>
  <body>
    <div>
      <div  class="header">
		<img src="{% static 'css/icon.png' %}" alt="kkk">
		<h1>This is header Recipes</h1>
			
			{% if user.is_authenticated %}
			<p><a href="#">Log out</a></p>
			{% endif %}
      </div>
	  </div>

      <div id="container", class="container">
        {% block content %}
        {% endblock %}
		
		{% block content-2 %}
        {% endblock %}
      </div>
      
      {% include "footer.html" %}
    </div>
  </body>
  {% block scripts %}
  {% endblock %}
</html>