{% extends 'base.html'%}

{% block head %}
    {% load static %}
{% endblock %}

{% block content %}
<div class="content">
	<br>  	  
    <nav class="navbar">
	  <p>File : home</p><br>
      <p><a href="addrecipe" target="_blank">Recipes (addrecipe app)</a></li>
    </nav>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}	
{% endblock %}	

{% block scripts %}
    <!--
	<script type="text/javascript" src="{% static 'javascript/somefunc.js' %}"></script> 
	-->  
{% endblock %}
