{% extends 'base.html'%}
{% block head %}
    {% load static %}

    {% endblock %}
    {% block content %}
	  	  
      <nav class="index-nav">
        <ul>
          <li><a href="/addrecipe/" target="_blank">ADD REc</a></li>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <ul>
			<table>
				<tr>
					<td>Search</td>
					<td>td</td>
				</tr>
				<tr>
					<td>Search</td>
					<td>td</td>
				</tr>
				<tr>
					<td>Search</td>
					<td>td</td>
				</tr>
				<tr>
					<td>Search</td>
					<td>td</td>
				</tr>
		  </table>
		  </ul>
		  </li>
			

        </ul>
      </nav>


    {% endblock %}
    {% block scripts %}
    <!--
	<script type="text/javascript" src="{% static 'javascript/somefunc.js' %}"></script> 
	-->
    
    {% endblock %}
