{% extends 'base.html'%}
{% load static %}

{%block title %}
  {{ category.name }} - new recipe
{% endblock %}

{% block content %}
  <p class="breadcrumb-item"><a href="{% url 'home' %}">Categories</a></p>
  <p class="breadcrumb-item"><a href="{% url 'addrecipe:category_recipes' category.pk %}">{{ category.name }}</a></p>
  <p class="">New recipe</p>
  <br>
{% endblock %}


{% block content-2 %}
<form method="post">
    {% csrf_token %}
    <div class = "forms"> 
	{{ form.as_p }} </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
{% endblock %}
   
{% block scripts %}
    <!--
	<script type="text/javascript" src="{% static 'javascript/somefunc.js' %}"></script> 
	-->    
{% endblock %}