{% extends 'base.html'%}
{% load static %}

{%block title %}
  {{ category.name }} - {{ block.super }}
{% endblock %}

{% block content %}

	<p> KARINA</p>
	<p><a href="{% url 'home' %}">Home - Main Project</a></p>
	<h2>{{ category.name }}</h2>
	
    <a href="{% url 'addrecipe:new_recipe' category.pk %}" class="btn">New recipe</a>
	<hr>
{% endblock %}

{% block content-2 %}
    <table class="table">
    <thead class="thead">
      <tr>
        <th>Recipe Title</th>
		<th>Recipe Description</th>
        <th>Author</th>
        <th>Comments</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in category.recipes.all %}
        <tr>
          <td>{{ recipe.subject }}</td>
		  <td>{{ recipe.rec_description }}</td>
          <td>{{ recipe.starter.username }}</td>
          <td>{{ recipe.starter.email }}</td>
          <td>0</td>
          <td>{{ recipe.last_updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

	<hr>
{% endblock %}
   
{% block scripts %}
    <!--
	<script type="text/javascript" src="{% static 'javascript/somefunc.js' %}"></script> 
	-->    
{% endblock %}