{% extends 'base.html'%}
{% load static %}

{%block title %}
  {{ category.name }} - new recipe
{% endblock %}

{% block content %}
<br>
<h2>New recipe</h2>
<nav class="navbutton">
	<ul>
	  <li><a href="{% url 'addrecipe:add_recipe' %}">All categories</a></li>
	  <li>&gt; <a href="{% url 'addrecipe:category_recipes' category.pk %}">{{ category.name }}</a></li>
	</ul>
</nav>
<p>Your recipe will appear under the {{ category.name }} category.</p>
 
  

{% endblock %}


{% block content-2 %}
<form method="post">
    {% csrf_token %}
    <div class = "forms"> 
	{{ form.as_p }} </div>
    <button type="submit">Submit</button>
</form>
<div class="spaces"></div>
{% endblock %}


{% block footer %}
<div class="footer">
  <p>Author: </p>
  <p><a class="lighttext" href="https://github.com/KarinaDabbraccio">Karina Dabbraccio</a></p>
</div>
{% endblock %}