{% extends "base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <h2>Shopping cart</h2>
	<p>File: cart_detail.html</p>
    <table class="cart">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url 'products:cart_remove' product.id%}">Remove</a></td>
                    <td>${{ item.price }}</td>
                    <td>${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr>
            <td>Total</td>
            <td colspan="3"></td>
            <td>${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p>
        <a href="{% url 'products:products_all' %}">Continue shopping</a>
        <a href="{% url 'products:order_new' %}" class="button">Order</a>
    </p>
{% endblock %}