{% extends 'base.html'%}
{% load static %}

{%block title %}
  {{ category.name }} - new recipe
{% endblock %}

{% block content %}
<h2>New recipe</h2>
<nav class="navbutton">
	<ul>
	  <li><a href="{% url 'addrecipe:addrecipe' %}">All categories</a></li>
	  <li><a href="{% url 'addrecipe:category_recipes' category.pk %}">{{ category.name }}</a></li>
	</ul>
</nav>
<p class="breadcrumb-item">File : new_recipe</p>
 
  

{% endblock %}


{% block content-2 %}
<form method="post">
    {% csrf_token %}
    <div class = "forms"> 
	{{ form.as_p }} </div>
    <button type="submit">Submit</button>
  </form>
{% endblock %}
   
{% block scripts %}
    <!--
	<script type="text/javascript" src="{% static 'javascript/somefunc.js' %}"></script> 
	-->    
{% endblock %}