{% extends 'base.html' %}

{% load static %}

{% block title %}{{ recipe.subject }}{% endblock %}

{% block content %}
  <h2>{{ recipe.subject }}</h2>
  <nav class="navbutton">
	<ul>
	  <li><a href="{% url 'addrecipe:addrecipe' %}">All categories</a></li>
	  <li><a href="{% url 'addrecipe:category_recipes' recipe.category.pk %}">{{ recipe.category.name }}</a></li>
	</ul>
  </nav>
  <p>File : recipe_comments</p> 
  <p>Description: {{ recipe.rec_description }}</p>
  
{% endblock %}

{% block content-2 %}
  <nav class="navbutton">
	<ul>
	  <li><a href="{% url 'addrecipe:reply_recipe' recipe.category.pk recipe.pk %}" class="btn" role="button">Reply</a></li>
	</ul>
  </nav>
  <h3>Comments:</h3>
  {% for comment in recipe.comments.all %}
    <div class="grid-card">
      <div class="grid-item1">
        <img src="{% static 'addrecipe/images/userr.png' %}" alt="{{ comment.created_by.username }}" class="w-100">
        <p class="small-txt">Comments: {{ comment.created_by.comments.count }}</p>
      </div>
      <div class="grid-item2">
        <p>{{ comment.created_by.username }}</p>
      </div>
	  <div class="grid-item3">
 	    <p class="small-txt">{{ comment.created_at }}</p>
      </div>
      <div class="grid-item4">
	    {{ comment.message }}
        {% if comment.created_by == user %}
          <p><a href="{% url 'addrecipe:reply_recipe' recipe.category.pk recipe.pk %}" class="small_btn">Edit</a></p>
        {% endif %}
	  </div>
    </div>
  {% endfor %}
<div class="spaces"></div>
{% endblock %}
