{% extends 'base.html'%}

{% load static %}

{% block content %}
{% if currentUser.user_group == 'M' %}
<br>
<nav class="navbutton">
	<ul>
	  <li><a href="{% url 'sales:all_orders' %}">All Orders</a></li>
	  <li><a href="{% url 'inventory:manage_inv' %}">Inventory</a></li>
	</ul>
</nav>
{% endif %}

<br>
<p> Hello{% if currentUser != 'Anonymous' %} {{ currentUser }} {% endif %}!
    {% if currentUser.user_group == 'M' %} You have acces to internal info.{% endif %}</p>
<p>Explore <a href="{% url 'addrecipe:add_recipe' %}">recipes</a> from customers and add your own.</p>
<br>
{% endblock %}

{% block content-2 %}

{% if groups %}

	<div class="card-container card-2">
	{% for group in groups %}
	<div class="grid-card-product card-group">
		<div class="grid-img group-img grid-row"><a href="{% url 'group_products' group.pk %}">
			<img class="grid-img" src="{{ group.pic.url }}">
		</a></div>
		<div class="grid-row centered_text"><a href="{% url 'group_products' group.pk %}"><h3>{{ group.name }}</h3></a></div>
		<div>{{ group.get_products_count }} products</div>
	</div>
	{% endfor %}
	</div>
{% else %}
    <p>No categories are available.</p>
{% endif %}

{% endblock %}


{% block footer %}
<div style="height:110px;"></div>
<div class="footer">
  <p>Author: </p>
  <p><a class="lighttext" href="https://github.com/KarinaDabbraccio">Karina Dabbraccio</a></p>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

{% endblock %}

