{% extends 'base.html'%}
{% load static %}



{% block content %}

<br>  	  
<h1>File : home</h1>
<br>
<p> Users: {{ currentUser }}
, {% if currentUser.user_group == 'M' %} Manager {% else %} User {% endif %}</p>
<p id="demo"> Date today </p>
<input type="button" value="date" onclick="document.getElementById('demo').innerHTML = Date()">

{% if currentUser.user_group == 'M' %}
<p> Management links:</p>
<nav class="navbutton">
	<ul>
	  <li><a class="lighttext" href="{% url 'sales:all_orders' %}">All Orders</a></li>
	  <li><a class="lighttext" href="{% url 'inventory:manage_inv' %}">Inventory</a></li>

	</ul>
</nav>


{% endif %}
{% endblock %}


{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

{% endblock %}

