{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <h2>{{ product.name }}</h2>
	<nav class="navbutton">
		<ul>
		<li><a href="{% url 'group_products' product.group.pk %}">{{ product.group }}</a></li>
		</ul>
	</nav>
	<div class="card-container p-details">
        <div>
			<img class="product_img" src="{{ product.pic.url }}">
		</div>
		<div>
			<p>File: product_details</p>
			<p>Weight, lb: {{ product.weight }}</p>
			<p>Price per unit: ${{ product.price }}</p><br>
			<p>{{ product.description|linebreaks }}</p>
		</div>
		<div>
		
		{% if product.is_available > 0 %}		
			<form class="add_cart" action="{% url 'orders:cart_add' product.id %}" method="post">
			{{ cart_product_form }}
			{% csrf_token %}
			<p class="centered_text"><button type="submit">Add to cart</button></p>
			</form>
		{% else %}
		<p class="centered_text">You can not order this item, there's none of it left now</p>
		{% endif %}
		</div>	
    </div>
	
{% endblock %}
